<%= link_to "Upload", path %>

<table>
  <thead>
    <tr>
      <% model.column_names.each do |col| %>
        <th><%= col %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |row| %>
      <tr>
        <% row.attributes.values.each do |v| %>
          <td><%= v %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
