<h1>All uri_entries</h1>

<%= link_to "Pull new log entries from CyberAdapt", uri_entries_refresh_path %>

<%= render(
    'shared/model_index',
    model: UriEntry,
    collection: @uri_entries,
    path: uri_entries_upload_path
)%>
