<%= form_tag machines_upload_path, method: :post, multipart: true do %>

  <label>Carbon Black Log</label>
  <%= file_field_tag "carbon_black", accept: 'text/csv' %>

  <br>

  <label>Date override (not required)</label>
  <%= date_field_tag "date_override" %>

  <br>
  
  <%= submit_tag :submit %>
<% end %>
