<% flash.each do |k,v| %>
  <div class="ui container">
    <div class="ui message <%= k %>">
      <% if v.instance_of? Array %>
        <ul>
          <% v.each do |element| %>
            <li><%= element %></li>
          <% end %>
        </ul>
      <% else %>
        <%= v %>
      <% end %>
    </div>
  </div>
<% end %>
